.contain{
	position: relative;
	width: 460px;
  height: 590px;
  margin: 0 auto;
}
.model{
	position: absolute;
	height: 100px;
	width: 100%;
}
.glasses{
	position: absolute;
	height: 100px;
    width: 58%;
    top: 23%;
    left: 27%;
    z-index: 1;
}